@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Montserrat:wght@300;400&family=Raleway&family=Roboto:wght@300&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Share+Tech&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --bg-col1: #080923;
    --bg-col2: #101143;

    --body-col: #fff;
    --danger: red; 
    
    --btn-bg: #34a853;

    --gcolblue:#4285F4;
    --gcolred:#DB4437;
    --gcolgreen:#0F9D58;
    --gcolyellow:#F4B400;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    align-items: center; 
    color: var(--body-col);
    background-image: linear-gradient(to right, var(--bg-col1), var(--bg-col2));
}


.lightMode{
    --bg-col1: #fff6f6;
    --bg-col2: #ecfafe;    
    --body-col: #0d0820;
    --btn-bg: #fbbc05;

}

.close-btn{
    font-size: 4rem;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transition: 300ms ease-in-out;
    margin-right: 20px;
}

.close-btn:hover{
    color: var(--danger);
    transform: scale(1.2);
}



.close-btn::before,
.close-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: var(--body-col);
  transform-origin: center;
}

.close-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}



.form-bg{
   
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;    
    transition: 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(0);
    background-color: #00000029;
    backdrop-filter: blur(10px);
    z-index: 10;
}

.form-ctrl{
    
    display: flex;
   align-items: center;
   justify-content: center;
} 


svg{
    width: 60px;
    margin-right: auto;
}

.inject {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.wf-parent{
    width: 60%;
    padding: 0px;
    
}

.home{
    width: auto;
    padding: 0px;
    margin: 0px;

}

.news{
    padding: 2em;
    width: 900px;
}



.show{
   transform: translate(-50%, -50%) scale(1);  
}


a{
    text-decoration: none;
    color: var(--body-col);
}
i{
    display: flex;
    justify-content: center;
}

ul :nth-child(1){
    margin-right: auto;
}

li svg{
    margin-right: auto !important;
    
}

svg{
    fill: var(--body-col);
}
.cent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px
}

h2{
    font-size: 6rem;
}

h1{
    font-size: 6rem;
    margin-bottom: 20px;
    letter-spacing: 8px;
}
.content{
    text-align: center;
    max-width: 80%;
    margin-top: 80px;
    flex-grow: 1;
    /* background-color: red; */
}
button{
    color: var(--body-col);
    cursor: pointer;
    padding: 10px;
    background-color: #ffffff00;
    border: var(--body-col);
    width: 120px;
    border-radius: 10px;
    transition: all 0.1s ease-out;
}

li>button{
    
    
    display: flex;
    justify-content: center;
    text-align: center;
   margin: 0px;
}

.material-icons{
     font-size: 3rem;
     vertical-align: middle;
     margin: 0px !important;
}




button:hover{
    background-color: var(--btn-bg);
    color: #fff;
    transform: scale(1.1);
    transition: 300ms ease-in-out;
    border-radius: 20px;
    /* box-shadow: 0px 5px 2px #000000b9 ; */
}

footer{
    /* position: fixed; */
    font-size: 10px;
   margin-bottom: 80px;
    width: 100%;
    text-align: center;

}

.container{
       
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

ul {

    display: flex;
    padding: 2rem;
    width: 100%;
    align-items: center;
}

ul li{
    margin-left: 4rem;
    list-style: none;
}

.social-icons{
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.social-icons a svg {
    height: 18px;
    fill: white;
}

.social-icons a {
    margin: 0;
}

.sideBar{
    background-color: #7b7b7b;    
    color: var(--body-col);
    height: 100vh;
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    display: none;
    transform: translateX(800px);
    transition: 300ms ease-in-out;
    
}

.open {
    transform: translateX(0px);
}

.sideBar>button {
    margin-top: auto;
    padding-bottom: 20px;
    padding-bottom: env(safe-area-inset-bottom);
}


.sideBar li, .sideBar li a {
    width: 100%;
    margin: 0px;
    cursor: pointer;  
    display: block;
}

.sideBar a {
    height: 100%;
    padding: 10px;
}

.sideBar li {
    margin: 20px 0px;
}


#closeIcon {
    color: var(--body-col);
    position: absolute;
    right: 0;
    margin-right: 20px;
    cursor: pointer;
}

.mobileView{
        display: block;
        
    }

#mobileMenu{
    display: none;
}



@media(max-width: 800px){
    body{
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        width: 100%;
        height: 100vh;
    }
    .content{
        margin: 0;
        max-width: 90%;
    }

    #mobileMenu {
        display: block;
    }

    .sideBar{
        display: flex;
    }

    .tabletView{
        display: none;
    }

    .container {
        margin: 80px 0px;
    }

    
    .links{
        display: none;
    }

    h2{
        position: static;
    }
    
    .crm-form{
        margin: -30px 10px 20px;
    }

    .mobileView{
        display: none;
    }
}

@media(max-width: 500px){
    .sideBar {
        width: 100%;
    }
}

@media(max-width: 300px){
    body {
        overflow: hidden;
    }
}